html {
	font-family: 'Roboto bold', sans-serif;
	scroll-behavior: smooth;
	overflow-x: hidden;
    overflow-y: scroll;
}

:root {
	/* Defining variables */
	--background-color: #fafafa;
	--foreground-color: #121212;

	--button-color: #121212;
	
	--heading-color: #e53935;
	--sub-heading-color: #212121;
	--sub-text-color: #212121;

	--appstore-button-image: url(images/appstore-black.png);
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		/* Redefining color variables for dark theme */
		--background-color: #121212;
		--foreground-color: #fafafa;

		--button-color: #e0e0e0;
		
		--heading-color: #ff5252;
		--sub-heading-color: #e0e0e0;
		--sub-text-color: #bdbdbd;

		--appstore-button-image: url(images/appstore-white.png);
	}
}

body {
	color: var(--foreground-color);
	background-color: var(--background-color);
}

div.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.footer {
	font-size: 0.9rem;
	font-weight: 100;
	color: var(--sub-text-color);
	text-align: center;
	margin-bottom: 20px;
}

.mediumSpace {
	padding-top: 30px;
}

.smallSpace {
	padding-top: 20px;
}

.space {
	padding-top: 80px;
}