.timeline-badge {
	width: 50px;
	height: 50px;
}

.landing_banner {
	position:relative;
	z-index: 0;
}

.landing_banner >ul{
	list-style:none !important;
	position:absolute;	
	margin:0px !important;
	padding:0px !important;
	overflow-x: visible;
	overflow-y: visible;
	list-style-type: none !important;
	background-image:none;
	background-position:0px 0px;
	text-indent: 0em;
	top:0px;left:0px;
}

.landing_banner	{ 
	width:100%; 
}

.app-store-badge a img {
	padding: 20px 0px 0px 0px;
	display: block;
	margin: 0px auto;
}

.timeline-panel {
}

.timeline-photo {
	margin: 0px auto;
}

.timeline-photo img {
	display: block;
	margin: 0px auto;
	width: 80%;
	max-width: 320px;
}

.timeline-heading h3 {
	text-align: center;
}

.timeline-heading h5 {
	text-align: center;
}

.timeline-panel-header {
	display: block;
	width: 100%;
}

.project-dates {
	display: block;
	margin: 0px auto;
	width: 320px;
	text-align: center;
}

.follow img {
	width: 30px;
}